.Inicio{
    margin: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h1{
    
    text-align: center;
}
.Inicio img{
    display: block;
    width: 250px;
    height: 250px;
    margin: 5em;
}
.Inicio a{
    display: flex;
    text-decoration: none;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(127, 255, 212, 0.301);
}